

*{
    margin: 0;
    padding: 0;
}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/*--------------- common styles ----------------*/
.fixed-width{
    width: 1150px;
    margin: auto;
}
.orange-text{
    color: #ED563B;
}
a{
    text-decoration: none;
}

/*--------------------------- Header Starts Here --------------------------------*/
.video{
    position: relative;
}
#video{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}
header{
    background: rgba(39, 44, 60, 0.74);
    width: 100%;
    height: 100vh; 
    position: relative;
    padding-top: 1px;
}

/*--------------------------- Navbar Menu --------------------------------*/
nav{
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 5px;
    text-transform: uppercase;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 2em;
    color: white;
}
.right-nav ul{
    display: flex;    
    justify-content: center;
    align-items: center;
}
.right-nav ul li{
    list-style: none;
    margin-left: 55px; 
}
.right-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight:500;
}
.right-nav ul li a:hover{
    color: #ED563B;
}

#orange-button{
    color: white;
    display: inline-block;
    padding: 12px 25px;
    background: #ED563B;
    font-weight: 400;
}
#orange-button2{
    color: white;
    display: inline-block;
    padding: 15px 25px;
    background: #ED563B;
    font-weight: 400;
}
#orange-button:hover{
    color: aqua;
}
#orange-button4{
    color: white;
    display: inline-block;
    padding: 15px 25px;
    background: #ED563B;
    font-weight: 400;
}
#orange-button4:hover{
    opacity: 0.7;
}
/*--------------------------- Banner Text --------------------------------*/
.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 170px; 
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.banner-text h6{
    font-size: 1.8em;
}
.banner-text h1{
    font-size: 5em;
}
/*--------------------------- Header Ends Here --------------------------------*/

/*--------------------------- Choose Program Starts Here --------------------------------*/
.program-sections{
    margin-top: 100px; 
}

.program-headings{
    text-align: center;
    width: 60%; 
    margin: auto;
}
.program-headings h2{
    font-size: 2em;
    margin-bottom: 15px;
}
.program-headings p{
    color: grey;
    margin-top: 15px; 
}

.program-card{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    width: 95%;
}
.program-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px; 
    margin-top: 150px; 
    padding: 10px;
}
.program-details h3, p{
    margin-bottom: 10px; 
}
.program-details p{
    color: grey;
}
/*--------------------------- Choose Program ends Here --------------------------------*/

/*--------------------------- Think sections starts Here --------------------------------*/
.think-section{
    background: url(images/cta-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 95px 5px;
}
.think-sections {
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
}
.think-sections h1{
    font-size: 3em;
    text-transform: uppercase;
}
.think-sections p{
    margin: 30px 0px;
    font-weight: 500; 
}
/*--------------------------- Think sections ends Here --------------------------------*/

/*--------------------------- Class sections starts Here --------------------------------*/

.class-section{
    padding: 30px 0;
}
.class-headings{
    text-align: center;
    margin-top: 20px;
}
.class-headings h1{
    font-size: 2em;
}
.class-headings p{
    color: grey;
    width: 50%;
    margin: auto;
}
.class-headings img{
    margin: 25px 0;
}


.class-detail{
    display: flex;
    column-gap: 50px;
    margin-top: 80px;
    padding: 10px;
}
.class-detail-1{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    width: 50%;
}
.class-card{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.61);
    cursor: pointer;
}
.class-card img{
    margin-top: 0px;
}
.class-card:hover{
    color: #ED563B;
}
.class-card h2{
    font-size: 1.3em;
}
#orange-button3{
    color: white;
    display: inline-block;
    padding: 15px 25px;
    background: #ED563B;
    font-weight: 400;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.61);
}
#orange-button3:hover{
    opacity: 0.7;
}

.class-detail-2 p{
    margin: 20px 0;
    color: grey;
    width: 90%;
    line-height: 30px;
}
.class-detail-2 h2{
    margin-top: 20px;
    font-weight: 800;
}
.class-detail-2 img{
    width: 100%;
}
/*--------------------------- Class sections ends Here --------------------------------*/

/*--------------------------- Schedule sections starts Here --------------------------------*/
.schedule-section{
    background: url(images/schedule-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 15px;
}
.schedule-headings{
    color: white;
    margin: auto;
    text-align: center;
}
.schedule-sections .schedule-headings h1, p, img{
    margin-top: 30px;
}
.schedule-headings h1{
    text-transform: uppercase;
}
.schedule-headings a{
    color: white;
    padding: 5px;
    margin-top: 40px;
    display: inline-block;
}
.schedule-headings a:hover{
    color: #ED563B;
}
.schedule-details{
    margin-top: 50px;
}
.schedule-detailss{
    display: flex;
}
.schedule-detailss div{
    color: white;
    padding: 20px 0px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border: 1px solid white;   
    text-align: center; 
}
.schedule-detailss div p{
    margin: 0;
    padding: 0;
    font-weight: 100;
}
/*--------------------------- Schedule sections ends Here --------------------------------*/

/*--------------------------- Trainer sections starts Here --------------------------------*/

.trainer-section{
    padding: 30px 10px;
}
.trainer-sections{
    margin-top: 70px;
}

.trainer-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.trainer-cards{
    width: 320px;
    padding: 5px 20px 30px 20px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.61) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;  
    margin: 30px 25px;
}
.trainer-cards h4{
    color: #ED563B;
}
.trainer-cards p{
    color: grey;
    line-height: 1.7em;
}
.trainer-cards a{
    color: black;
    margin-right: 20px;
}
.trainer-cards a:hover{
    color: #ED563B;
}
/*--------------------------- Trainer sections ends Here --------------------------------*/

/*--------------------------- Contact sections starts Here --------------------------------*/

.contact-section{
    background: url(images/contact-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 30px;
    /* width: 100%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-sections{
    position: relative;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    background: white;
    padding: 50px;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    position: relative;
    border: 3px solid orange;
}


.contacts {
    border: none;
    margin: 10px 0px;
    width: 100%;
}
.contact .contacts input[type="text"]{
    padding: 15px 15px;
    font-size: 18px;
    outline: none;
    border: 2px solid rgba(168, 167, 167, 0.2) ;
    box-sizing: border-box;
    width: 100% ;
    border-radius: 5px;
}
.contact .contacts input[type="text"]:focus{
    border: 3px solid #22A5F1;
}
.input1{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.input1 fieldset input[type="text"]{
    width: 500px;
    color: red;
}
#name-field{
    margin-right: 70px;
}




/* Media Query  : */
/* For mobile:  */
@media only screen and (max-width:480px){
    .fixed-width{
        width: 100%;
    }
    .none{
        display: none;
    }
    /*--------------------------- Navbar Menu --------------------------------*/
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
    }
    .right-nav ul{
        display: flex;  
        justify-content: space-evenly;  
        background: rgba(0, 0, 0, 0.61);
        border-radius: 25px; 
    }
    .right-nav ul li{
        list-style: none;
        margin-left: 15px; 
    }
    .right-nav ul li a{
        padding-left: 5px;
        font-size: 0.7em;
    }
    #orange-button{
        display: inline-block;
        padding: 12px 12px;
        background: #ED563B;
        font-weight: 400;
        border-radius: 25px;
    }
    /*--------------------------- Banner Text --------------------------------*/
    .banner-text{
        text-align: center;
        width: 80%;
    }
    .banner-text h6{
        font-size: 1.3em;
    }
    .banner-text h1{
        font-size: 3em;
    }

    /*--------------------------- Choose Program--------------------------------*/
    .program-detail{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px; 
        margin-top: 150px; 
        padding: 5px;
    }
    .program-headings{
        text-align: center;
        width: 90%; 
        margin: auto;
    }
    /*--------------------------- Think Sections--------------------------------*/
    .think-sections {
        color: white;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    /*--------------------------- Class Sections--------------------------------*/
    .class-headings p{
        color: grey;
        width: 90%;
        margin: auto;
    }
    .class-detail{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        margin-top: 80px;
    }
    .class-detail-1{
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        width: 100%;
    }

    /*--------------------------- Contact Sections--------------------------------*/
    .contact-section{
        padding: 30px;
    }
    .contact{
        background: white;
        padding: 10px 15px;
        border-radius: 10px;
        width: 95%;
        margin: auto;
        position: relative;
        border: 3px solid orange;
    }
}

/* For ipads, tablet:  */
@media only screen and (min-width:481px) and (max-width:768px) {
    .fixed-width{
        width: 100%;
    }
    /* .none{
        display: none;
    } */
    /*--------------------------- Navbar Menu --------------------------------*/
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .right-nav ul{
        display: flex;    
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.61);
        border-radius: 25px; 
    }
    .right-nav ul li{
        list-style: none;
        margin-left: 15px; 
    }
    .right-nav ul li a{
        padding-left: 5px;
        font-size: 0.9em;
    }
    #orange-button{
        display: inline-block;
        padding: 15px 25px;
        background: #ED563B;
        font-weight: 400;
        border-radius: 25px;
    }/*--------------------------- Banner Text --------------------------------*/
    .banner-text{
        text-align: center;
        width: 80%;
    }
    .banner-text h6{
        font-size: 1.3em;
    }
    .banner-text h1{
        font-size: 3em;
    }
    /*--------------------------- Choose Program--------------------------------*/
    .program-detail{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px; 
        margin-top: 150px; 
        padding: 25px;
    }
    .program-headings{
        text-align: center;
        width: 90%; 
        margin: auto;
    }
    /*--------------------------- Think Sections--------------------------------*/
    .think-sections {
        color: white;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    /*--------------------------- Class Sections--------------------------------*/
    .class-headings p{
        color: grey;
        width: 90%;
        margin: auto;
    }
    .class-detail{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        margin-top: 80px;
    }
    .class-detail-1{
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        width: 60%;
        margin: auto;
    }
    .class-detail-2{
        width: 80%;
        margin: auto;
    }
    /*--------------------------- Contact Sections--------------------------------*/
    
    .contact{
        background: white;
        padding: 10px 15px;
        border-radius: 10px;
        width: 95%;
        margin: auto;
        position: relative;
        border: 3px solid orange;
    }
}

/* For Small screen, laptop:  */
@media only screen and (min-width:769px) and (max-width:1024px) {
    .fixed-width{
        width: 100%;
    }
    /*--------------------------- Navbar Menu --------------------------------*/
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
    }
    .right-nav ul{
        display: flex;    
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.61);
        border-radius: 25px; 
    }
    #orange-button{
        display: inline-block;
        padding: 15px 25px;
        background: #ED563B;
        font-weight: 400;
        border-radius: 25px;
    }

    .banner-text{
        text-align: center;
        width: 80%;
    }
    /*--------------------------- Class Sections--------------------------------*/
    .class-headings p{
        color: grey;
        width: 90%;
        margin: auto;
    }
    .class-detail{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        margin-top: 80px;
    }
    .class-detail-1{
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        width: 60%;
        margin: auto;
    }
    .class-detail-2{
        width: 80%;
        margin: auto;
    }
}

