

*{
    margin: 0;
    padding: 0;
}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/*--------------- common styles ----------------*/
.fixed-width{
    width: 1150px;
    margin: auto;
}
.orange-text{
    color: #ED563B;
}
a{
    text-decoration: none;
}

/*--------------------------- Header Starts Here --------------------------------*/
.video{
    position: relative;
}
#video{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}
header{
    background: rgba(39, 44, 60, 0.74);
    width: 100%;
    height: 100vh; 
    position: relative;
    padding-top: 1px;
}

/*--------------------------- Navbar Menu --------------------------------*/
nav{
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 5px;
    text-transform: uppercase;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 2em;
    color: white;
}
.right-nav ul{
    display: flex;    
    justify-content: center;
    align-items: center;
}
.right-nav ul li{
    list-style: none;
    margin-left: 55px; 
}
.right-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight:500;
}
.right-nav ul li a:hover{
    color: #ED563B;
}

#orange-button{
    color: white;
    display: inline-block;
    padding: 12px 25px;
    background: #ED563B;
    font-weight: 400;
}
#orange-button2{
    color: white;
    display: inline-block;
    padding: 15px 25px;
    background: #ED563B;
    font-weight: 400;
}
#orange-button:hover{
    color: aqua;
}
#orange-button2:hover{
    color: aqua;
}
/*--------------------------- Banner Text --------------------------------*/
.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 170px; 
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.banner-text h6{
    font-size: 1.8em;
}
.banner-text h1{
    font-size: 5em;
}
/*--------------------------- Header Ends Here --------------------------------*/

/*--------------------------- Choose Program Starts Here --------------------------------*/
.program-sections{
    margin-top: 100px; 
}

.program-headings{
    text-align: center;
    width: 60%; 
    margin: auto;
}
.program-headings h2{
    font-size: 2em;
    margin-bottom: 15px;
}
.program-headings p{
    color: grey;
    margin-top: 15px; 
}

.program-card{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    width: 95%;
}
.program-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px; 
    margin-top: 150px; 
    padding: 10px;
}
.program-details h3, p{
    margin-bottom: 10px; 
}
.program-details p{
    color: grey;
}








/* Media Query  : */
/* For mobile:  */
@media only screen and (max-width:480px){
    .fixed-width{
        width: 100%;
    }
    .none{
        display: none;
    }
    /*--------------------------- Navbar Menu --------------------------------*/
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
    }
    .right-nav ul{
        display: flex;  
        justify-content: space-evenly;  
        background: rgba(0, 0, 0, 0.61);
        border-radius: 25px; 
    }
    .right-nav ul li{
        list-style: none;
        margin-left: 15px; 
    }
    .right-nav ul li a{
        padding-left: 5px;
        font-size: 0.7em;
    }
    #orange-button{
        display: inline-block;
        padding: 12px 12px;
        background: #ED563B;
        font-weight: 400;
        border-radius: 25px;
    }
    /*--------------------------- Banner Text --------------------------------*/
    .banner-text{
        text-align: center;
        width: 80%;
    }
    .banner-text h6{
        font-size: 1.3em;
    }
    .banner-text h1{
        font-size: 3em;
    }

    /*--------------------------- Choose Program--------------------------------*/
    .program-detail{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px; 
        margin-top: 150px; 
        padding: 5px;
    }
    .program-headings{
        text-align: center;
        width: 90%; 
        margin: auto;
    }
}

/* For ipads, tablet:  */
@media only screen and (min-width:481px) and (max-width:768px) {
    .fixed-width{
        width: 100%;
    }
    /* .none{
        display: none;
    } */
    /*--------------------------- Navbar Menu --------------------------------*/
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .right-nav ul{
        display: flex;    
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.61);
        border-radius: 25px; 
    }
    .right-nav ul li{
        list-style: none;
        margin-left: 15px; 
    }
    .right-nav ul li a{
        padding-left: 5px;
        font-size: 0.9em;
    }
    #orange-button{
        display: inline-block;
        padding: 15px 25px;
        background: #ED563B;
        font-weight: 400;
        border-radius: 25px;
    }/*--------------------------- Banner Text --------------------------------*/
    .banner-text{
        text-align: center;
        width: 80%;
    }
    .banner-text h6{
        font-size: 1.3em;
    }
    .banner-text h1{
        font-size: 3em;
    }
    /*--------------------------- Choose Program--------------------------------*/
    .program-detail{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px; 
        margin-top: 150px; 
        padding: 25px;
    }
    .program-headings{
        text-align: center;
        width: 90%; 
        margin: auto;
    }
}

/* For Small screen, laptop:  */
@media only screen and (min-width:769px) and (max-width:1024px) {
    .fixed-width{
        width: 100%;
    }
    /*--------------------------- Navbar Menu --------------------------------*/
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
    }
    .right-nav ul{
        display: flex;    
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.61);
        border-radius: 25px; 
    }
    #orange-button{
        display: inline-block;
        padding: 15px 25px;
        background: #ED563B;
        font-weight: 400;
        border-radius: 25px;
    }

    .banner-text{
        text-align: center;
        width: 80%;
    }
}

